@{
    ViewData["Title"] = "index";
}

<h1>Estudents</h1>

<p>
    
    <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Create">Create New</a>
</p>


<table id="table_students" class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
            
        </tr>
    </thead>
    <tbody id="app_tbody">
        
    </tbody>
</table>
<script src="~/js/student/student_scripts.js"></script>